.Loading_container {
    position: absolute;
    top: 70%;
    left: 75%;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #fd788b;
    background-image: linear-gradient(#fd788b, #feb1b7, #fde3e5);
  }
  
  .Loading_container span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #fd788b;
    background-image: linear-gradient(#fd788b, #feb1b7, #fde3e5);
  }
  
  .Loading_container span:nth-of-type(1) {
    filter: blur(5px);
  }
  
  .Loading_container span:nth-of-type(2) {
    filter: blur(10px);
  }
  
  .Loading_container span:nth-of-type(3) {
    filter: blur(25px);
  }
  
  .Loading_container span:nth-of-type(4) {
    filter: blur(50px);
  }
  
  .Loading_container::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: solid 5px #ffffff;
    border-radius: 50%;
  }
  
  @keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
      transition: all 0.3s;
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
      transition: all 0.3s;
    }
  }
  

  @media screen and (max-width: 768px) {
    .Loading_container {
        top: 95%;
        left: 50%;
      }
  
 }

 @media screen and (max-width: 1026px) {
    .Loading_container {
        top: 90%;
        left: 50%;
      }
 }